name: Run Tests for release-1.14 branch
on:
  pull_request:
    branches: [ release-1.14 ]
  workflow_dispatch:
jobs:
  build:
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        browser: [ chromium, webkit, firefox ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: microsoft/playwright-github-action@v1.5.0

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - name: Install Media Pack
        if: ${{ matrix.os == 'windows-latest' }}
        shell: powershell
        run: Install-WindowsFeature Server-Media-Foundation

      - name: Get access to gradlew
        run: chmod +x gradlew

      - name: Download drivers
        run: ./gradlew downloadAndUnzip

      - name: Install driver for ubuntu-latest
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          cd drivers/linux/package
          npm install

      - name: Install driver for macos-latest
        if: ${{ matrix.os == 'macos-latest' }}
        run: |
          cd drivers/mac/package
          npm install

      - name: Install driver for windows-latest
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          cd drivers/win32/package
          npm install

      - name: Run tests on ${{ matrix.os }} with ${{ matrix.browser }} browser
        run: ./gradlew clean test -Dbrowser=${{ matrix.browser }}

      - name: Clean after
        uses: mickem/clean-after-action@v1.1.1