name: Run Tests for release branch
on:
  pull_request:
    branches: [ release-1.12 ]
  workflow_dispatch:
jobs:
  build:
    timeout-minutes: 15
    strategy:
      max-parallel: 1
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        browser: [ chromium, webkit, firefox ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: microsoft/playwright-github-action@v1

      - name: Setup Java JDK
        uses: actions/setup-java@v2.1.0
        with:
          distribution: 'adopt'
          java-version: '8'

      - name: Cache Gradle packages
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - name: Install Media Pack
        if: ${{ matrix.os == 'windows-latest' }}
        shell: powershell
        run: Install-WindowsFeature Server-Media-Foundation

      - name: Get access to gradlew
        run: chmod +x gradlew

      - name: Download drivers
        run: ./gradlew downloadAndUnzip

      - name: Install driver for ubuntu-latest
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          cd drivers/linux/package
          npm install

      - name: Install driver for macos-latest
        if: ${{ matrix.os == 'macos-latest' }}
        run: |
          cd drivers/mac/package
          npm install

      - name: Install driver for windows-latest
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          cd drivers/win32_x64/package
          npm install

      - name: Run tests on ${{ matrix.os }} with ${{ matrix.browser }} browser
        run: ./gradlew clean test -Dbrowser=${{ matrix.browser }}

      - name: Clean after
        uses: mickem/clean-after-action@v1.1.1