name: Run Tests for release-1.11.0
on:
  pull_request:
    branches: [ release-1.11.0 ]
  workflow_dispatch:
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        browser: [ chromium, webkit, firefox ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v1

      - name: Get access to gradlew
        run: chmod +x gradlew

      - name: Download drivers
        run: ./gradlew downloadAndUnzip

      - name: Install driver for ubuntu-latest
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          cd drivers/linux/package
          npm install

      - name: Install driver for macos-latest
        if: ${{ matrix.os == 'macos-latest' }}
        run: |
          cd drivers/mac/package
          npm install

      - name: Install driver for windows-latest
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          cd drivers/win32_x64/package
          npm install

      - name: Run tests on ${{ matrix.os }} with ${{ matrix.browser }} browser
        run: ./gradlew test -Dbrowser=${{ matrix.browser }}